html, body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #051b80;
}
.flip-card {
    background-color: transparent;
    perspective: 1498px;
    height: 500px;
    width: 700px;
    
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card-back {
    position: absolute;
    background-color: #0d46b6;
    color: white;
    transform: rotateY(180deg);
}
.card-front{
    background-color: #bbb;
    color: black;
}
.flip-card:hover .inner-card {
    transform: rotateY(180deg);
}
.endtext{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    float: right;
    padding-right: 4rem;
    padding-top: 35%;
}
.stamp{
    height: 100px;
    width: 100px;
    float: right;
    padding-top: 2rem;
    padding-right: 2rem;
}
.rubrik{
    font-size: 2rem;
}