.flip-card {
    background-color: transparent;
    width: 700px;
    height: 500px;
    perspective: 1000px;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card-back {
    background-color: #A6C0CD;
    color: black;
    transform: rotateY(180deg);
}
.card-front{
    background-color: #bbb;
    color: black;
}
.flip-card:hover .inner-card {
    transform: rotateY(180deg);
}
main{
    display: flex;
}
.rubrik{
    font-size: 2rem;
}